<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!-- The separately installable debug migration app should open the migration flow directly. -->
        <activity-alias
            android:name=".MainLauncher"
            tools:node="remove" />

        <activity-alias
            android:name=".MigrationDebugLauncher"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:targetActivity=".migration.ResilientMigrationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>
